<div class="map-view row">
  <div class="col-sm-3" id="map-key">
    <h3 class="save-run-modal-header"></h3>
    <table class="table">
    <tr>
    <td><i class="fa fa-hand-pointer-o fa-2x" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td><p>Click on the map to place a marker and start your route</p></td>
  </tr>
  <tr>
    <td><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></td>
    </tr>
    <tr>
    <td><p>Remove any marker with a click, or clear all markers by clicking Clear Route</p></td>
    </tr>
    <tr>
    <td><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i></td>
    </tr>
    <tr>
    <td><p>Save your route with additional details</p></td>
    </tr>
  </th>
</table>
    <div class="form group">
    <label class="col-sm-3">Distance</label>
    <div class="col-sm-9">
      <div class="nativeDatePicker">
        <input class="save-run" type="text" id="distance-input" name="run[timeTaken]">
        <span class="validity"></span>
      </div>
    </div>
  </div>
  <form id="save-run">
    <div class="form group">
      <label class="col-sm-3">Duration</label>
      <div class="col-sm-9">
        <input class="save-run" type="text" name="run[timeTaken]" value="" placeholder="duration in minutes"><br>
      </div>
    </div>
    <div class="form group">
      <label class="col-sm-3">Date</label>
      <div class="col-sm-9">
        <div class="nativeDatePicker">
          <input class="save-run" type="date" min="2017-09-1" value="2017-09-01" name="run[date]">
          <span class="validity"></span>
        </div>
      </div>
    </div>
    <div class="form group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success" name="submit" value="">Save Route</button>
        <button type="button" class="btn btn-danger" id="clear-button">Clear Route</button>
        <button type="button" class="btn btn-success" id="find-button" data-toggle="modal" data-target="#find-me-modal">
          Find Me</button>
      </div>
    </div>
  </form>
</div>
<div class="col-sm-9"
  <div id="map"></div>
  <div>
</div>
