{{#each runs as |run|}}

<div class="row" data-id="{{run.id}}">
  <h3>Distance: {{run.distance}}</h3>
  <h3>Time: {{run.timeTaken}}</h3>
  <!-- DELETE RUN BUTTON -->
  <button id="delete-run" class="btn btn-danger btn-sm" data-id="{{run._id}}">
    <i class="fa fa-trash"></i></button>
</div>
{{/each}}
