$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import 'colors';
@import 'loader';

body {
  background-image: url('https://i.imgur.com/yGhNllG.jpg');
  background-position: cover;
}

p, h4 {
  letter-spacing: 1px;
}

.btn {
  margin: 5px;
}

.container-fluid {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#display {
  width: 100%;
}

.hide-stat-icon {
  display: none;
}

input {
  margin: 5px;
  width: 95%;
}

.jumbotron {
  background-image: url('./images/runner.jpg');
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
}

#jumbo-title {
  color: $white;
  font-family: 'Rock Salt', cursive;
}

#map-key {
  background-color: $opaque-white;
}

#message-board {
  color: $red;
  display: none;
  padding-top: 70px;
}

.modal-body {
  overflow-y: auto;
}

.modal-title {
  text-align: center;
}

#map {
  height: 85vh;
}

#map2 {
  height: 75vh;
  width: 100%;
}

.navbar {
  background-image: url('https://i.imgur.com/yGhNllG.jpg');
  display: none;
  margin-bottom: 0;
}

.panel {
  margin: 0 auto;
  margin-top: 10px;
  width: 75%;
}

.restrict-column {
  width: 100px;
}

#stats-body {
  background-color: $white;
  display: none;
}

.stats-header {
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
  text-align: center;
}


@media (min-width: 770px) {
  .panel-heading {
    height: 100px;
  }
}

#user-icon {
  margin-right: 5px;
}
