$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.btn {
  margin: 5px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#clear-button, #find-button, #show-all-button, #show-my-button,
#change-password-button, #sign-out-button, #stats-button, #save-run-button {
  display: none;
}

#display {
  width: 100%;
}

input {
  margin: 5px;
  width: 95%;
}

.modal-body {
  overflow-y: auto;
}

.modal-title {
  text-align: center;
}

#map {
  height: 300px;
  width: 95%;
}

#map2 {
  height: 300px;
  width: 50%;
}

.navbar {
  margin-bottom: 0;
}

.panel {
  margin: 0 auto;
  width: 75%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
