$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


input {
  margin: 5px;
  width: 95%;
}

.modal-body {
  overflow-y: auto;
}

.modal-title {
  text-align: center;
}

#map {
  height: 500px;
  width: 100%;
}

#map2 {
  height: 200px;
  width: 200px;
}

.thumbnail {
  float: left;
}
